<html>
<head>
    <title>固收理财</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <link type="image/x-icon" href="../../../static/images/favicon.ico" rel="shortcut icon">
	<link href="../../../static/styles/normalize.css" type="text/css" rel="stylesheet" />
	<link href="../../../static/styles/common.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<!-- 第一块  -->
	<div class="CM-banner">
		<div class="w1200">
			<img src="../../../static/images/CMtitle.png" title="全金宝" class="title-img"/>
			<h2>中长期稳健理财产品</h2>
			<p>全金提醒您，理财有风险，投资需谨慎</p>
			<div class="CM-list">
				<ul>
					
					<li>
						<h2>全金宝270</h2>
						<div>
							<div class="CM-list-right">
								<div class="br-right">
									<h2 class="font-red">12.00%</h2>
									<p>年化收益率</p>
								</div>
								<p class="p-info">还款方式：到期还本付息</p>
							</div>
							<div class="CM-list-left">
								<div class="br-left">
									<h2>12<span>个月</span></h2>
									<p>期限</p>
								</div>
								<p class="p-info">计息方式：当日计息</p>
							</div>
						</div>
						
						<div class="CM-list-bottom">
							<a href="javascript:void(0);" class="btn-shadow">马上投资</a>
							<p>剩余金额：<span>281.55万元</span></p>
						</div>
					</li>
					
					<li>
						<h2>全金年年盈</h2>
						<div>
							<div class="CM-list-right">
								<div class="br-right">
									<h2 class="font-red">12.00%</h2>
									<p>年化收益率</p>
								</div>
								<p class="p-info">还款方式：到期还本付息</p>
							</div>
							<div class="CM-list-left">
								<div class="br-left">
									<h2>12<span>个月</span></h2>
									<p>期限</p>
								</div>
								<p class="p-info">计息方式：当日计息</p>
							</div>
						</div>
						
						<div class="CM-list-bottom">
							<a href="javascript:void(0);" class="btn-shadow">马上投资</a>
							<p>剩余金额：<span>281.55万元</span></p>
						</div>
					</li>
					
					<li>
						<h2>全金半年盈</h2>
						<div>
							<div class="CM-list-right">
								<div class="br-right">
									<h2 class="font-red">11.00%</h2>
									<p>年化收益率</p>
								</div>
								<p class="p-info">还款方式：到期还本付息</p>
							</div>
							<div class="CM-list-left">
								<div class="br-left">
									<h2>9<span>个月</span></h2>
									<p>期限</p>
								</div>
								<p class="p-info">计息方式：当日计息</p>
							</div>
						</div>
						
						<div class="CM-list-bottom">
							<a href="javascript:void(0);" class="btn-shadow">马上投资</a>
							<p>剩余金额：<span>281.55万元</span></p>
						</div>
					</li>
					
				</ul>
			</div>
		</div>
	</div><!-- 第一块 //end -->
<!-- 第二块  -->
<div class="CM-box1">
	<div class="CM-title-bg">
		<div class="w1200">
			<h2>什么是全金宝？</h2>
		</div>
	</div>
	<div class="w1200">
		<img src="../../../static/images/CM-box1-img.png" title="什么是全金宝？" />
	</div>
</div><!-- 第二块 //end -->
<!-- 第三块  -->
<div class="CM-box2">
	<div class="CM-title-bg">
		<div class="w1200">
			<h2>全金宝优势</h2>
		</div>
	</div>
	<div class="w1200">
		<img src="../../../static/images/CM-box2-img.png" title="什么是全金宝？" />
	</div>
</div><!-- 第三块 //end -->
<!-- 第四块  -->
<div class="CM-box3">
	<div class="CM-title-bg">
		<div class="w1200">
			<h2>全金问答</h2>
		</div>
	</div>
	<div class="w1200 p-relative">
		<img src="../../../static/images/CM-box3-img.png" title="全金问答" />
		<div class="CM-box3-left">
			<h2>多重风控</h2>
			<p>全金网的所有项目均有多重风控措施把关：  <br />
				1、专业的风控团队把关，包括且不限于多层信用审查、还款能力调查、保障措施审核、实地回访对账，确保所有项目信息真实有效合法。 <br />
				2、资金第三方托管，保证专款专用，理财更安全。  <br />
				3、担保机构提供本金及收益担保，承诺到期回购。  <br />
				4、建立完善的风险保障机制，有效保障资金安全。  <br />
				5、专业律师团队保驾护航，提供服务与帮助。<br />
			</p>
		</div>
		<div class="CM-box3-right">
			<h2>风险备用金制度</h2>
			<p>为了保证投资人的权益，全金网建立了完善的风险备用金制度。当线上认证借款成交时，全金网会提取一定比例的金额放入"全金网风险备用金账户"。当线上认证借款出现逾期时，全金网将会根据标的的本息保障赔付期等级，在相应时间内使用“全金网风险备用金”向理财人垫付此笔借款的逾期本息。
			</p>
		</div>
	</div>
</div><!-- 第四块 //end -->
<!-- 第五块  -->
<div class="CM-box4">
	<div class="w1200 p-relative">
		<img src="../../../static/images/CM-box4-img.png" title="3" />
		<div class="CM-box4-1">
			<h2>全金宝理财产品利息<br />如何计算？</h2>
			<p>1、买入金额100元起<br />
			2、买入当天开始计息并产生收益（含周末及节假日）。<br />
			      当天15点之前买入当日计息，当天15点之后买入次日计息。<br />
      		</p>
		</div>
		<div class="CM-box4-2">
			<h2>到期如何取现？</h2>
			<p>1、新买入本金可随时申请提现，定期未到期提现按活期收益率支付利息，本金和利息会自动存入您的全金网个人账户，申请提现即可转入您绑定的银行卡中。<br />
				2、取现到账时间：T+1个工作日<br />
				3、若全金网账户可取现金额≥100元时，每次至少取现100元；    <br />
				若全金网账户可取现金额＜100元时，需一次性取走全金网全部金额。<br />
      		</p>
		</div>
		<div class="CM-box4-3">
			<h2>充值、买入及取现<br />收手续费吗？</h2>
			<p>免手续费。为了给投资人带来更好的投资体验，全金网理财产品购买和赎回不需要支付任何手续费用。
      		</p>
		</div>
	</div>
</div><!-- 第四五块 //end -->
<script>
</script>
</body>
</html>