<html>
<head>
    <title>活期理财</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <link type="image/x-icon" href="../../../static/images/favicon.ico" rel="shortcut icon">
	<link href="../../../static/styles/normalize.css" type="text/css" rel="stylesheet" />
	<link href="../../../static/styles/common.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<!-- 第一块 -->
	<div class="CF-box1">
		<div class="w1200">
			<img src="../../../static/images/CF-title.png" title="全金宝活期" />
			<div class="CF-box1-title">
				<div class="CF-box1-left">
					<h2>9.00<span>%</span></h2>
					<p>预计年化收益率</p>
				</div>
				<div class="CF-box1-right">
					<h2>2.57<span>元</span></h2>
					<p>每万元收益</p>
				</div>
				<a href="javascript:void(0);" class="btn-shadow">马上赚钱</a>
			</div>
		</div>
	</div><!-- 第一块//end -->
<script>
</script>
</body>
</html>