<html>
<head>
    <title>活期理财页面</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <link type="image/x-icon" href="../../../static/images/favicon.ico" rel="shortcut icon">
	<link href="../../../static/styles/normalize.css" type="text/css" rel="stylesheet" />
	<link href="../../../static/styles/common.css" type="text/css" rel="stylesheet" />
	<!-- 整屏滑动 -->
	<!-- <script src="../../../static/js/scrollify/jquery.min.js"></script> 
	<script src="../../../static/js/scrollify/jquery.easing.min.js"></script> 
	<script src="../../../static/js/scrollify/jquery.scrollify.min.js"></script>  -->
</head>
<body>
	<!-- 头部 -->
	<div class="head">
		<div class="head-top">
			<div class="w1200">
				<ul class="head-top-left">
					<li>财富热线：<span>400-1000-361</span></li>
					<li><i title="微信客服" class="img-wx"></i>微信客服
						<img src="../../../static/images/head-wxkf.png" title="微信客服" class="wxkf"/>
					</li>
					<li><i title="手机客户端" class="img-sj"></i>手机客户端
						
					</li>
					<li><i title="新浪微博" class="img-xl"></i>新浪微博
						<a href="javascript:void(0);">
							<img src="../../../static/images/head-wb.png" title="新浪微博" class="xlwb"/>
						</a>
					</li>
				</ul>
				<ul class="head-top-right">
					<li><a href="javascript:void(0);" class="font-red">立即登录</a><i></i></li>
					<li><a href="javascript:void(0);">快速注册</a><i></i></li>
					<li><a href="javascript:void(0);">帮助中心</a></li>
				</ul>
			</div>
		</div>
		<div class="head-nav">
			<div class="w1200">
				<img src="../../../static/images/head-nav-logo.png" title="全金网LOGO" width="165" height="86"/>
				<ul class="head-nav-right">
					<li><a href="javascript:void(0);" class="on">首页</a></li>
					<li><a href="javascript:void(0);">全金票据</a></li>
					<li><a href="javascript:void(0);">全金计划</a></li>
					<li><a href="javascript:void(0);">关于我们</a></li>
					<li>
						<a href="javascript:void(0);">
						<img src="../../../static/images/head-person.png" title="用户头像" width="30" height="30" class="head-person"/>
						用户中心
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div><!-- 头部//end -->
	<div class="main">
		<!-- 第一块 -->
		<div class="CF-box1">
			<div class="w1200 CF-box1-bg">
				<h2 class="CF-box1-h2">全金活期</h2>
				<p class="CF-box1-p">随存随取   收益按日结算</p>
				<div class="CF-box1-middle">
					<div class="CF-box1-left">
						<h2>9.00<span>%</span></h2>
						<p>预计年化收益率</p>
					</div>
					<div class="CF-box1-right">
						<h2>2.57<span>元</span></h2>
						<p>预计年化收益率</p>
					</div>
					<div class="CF-box1-bottom">
						<input type="text" value="输入金额" class="input-amount"/><input type="submit" value="立即转入" class="input-amount-btn"/>
					</div>
				</div>
			</div>
		</div><!-- 第一块//end -->
		<a name="overview" ></a>
		<!-- <section class="overview" data-section-name="overview"> -->
			<!-- 第二块 -->
			<div class="CF-box2" >
				<div class="w1200 p-relative">
					<a  class="js-scroll scroll-down" href="#overview"></a>
					<h2 class="CF-box2-h2">全金活期理财优势</h2>
					<p class="CF-box2-p">全金活期投资一揽子标的，包括票据理财、融资租赁、债券投资、理财投资等金融资产。</p>
					<ul>
						<li>
							<i class="i1 "></i>
							<h2>收益高 无任何手续费</h2><br />
							<p>投资者购买该理财产品后，可随时赎回提<br />现。不仅能够得到超额收益，还能随时提<br />取，方便灵活且不收取任何手续费。</p>
						</li>
						<li>
							<i class="i2"></i>
							<h2>收益按日计算</h2>
							<p>预期年化收益率达9%（8%+1%）<br />是余额宝的2.77倍，活期存款的24倍<br />当日计息</p>
						</li>
						<li>
							<i class="i3"></i>
							<h2>安全保障</h2>
							<p>预大型企业烦法人担保<br />风险备用金制度<br />与大型企业法人担保</p>
						</li>
						<li>
							<i class="i4"></i>
							<h2>随存随取</h2>
							<p>没有期限限制<br />投资，取现便捷，提现最快T+1到账<br />不收取任何手续费</p>
						</li>
					</ul>
				</div>
			</div><!-- 第二块//end -->
			<!-- 第三块 -->
			<div class="CF-box3">
				<div class="w1200 CF-box3-content">
					<h2 class="CF-box3-h2">全金活期适用于以下投资需求</h2>
					<img src="../../../static/images/CF-box3-line.png" title="资金折线图" class="CF-box3-line"/>
					<div class="CF-box3-1">
						<img src="../../../static/images/CF-box3-title1.png" title="闲置资金增值"/>
						<p>可享受高于活期存款25倍的收益随存随取 流动性高</p>
					</div>
					<div class="CF-box3-2">
						<img src="../../../static/images/CF-box3-title2.png" title="资金储蓄"/>
						<p>天天有收益 闲置资金不如储蓄到全金宝吧积少成多 让收益飞起来</p>
					</div>
					<div class="CF-box3-3">
						<p>2014年<br />本金500,00元</p>
					</div>
					<div class="CF-box3-4">
						<p>2016年<br />增值1000,00元</p>
					</div>
				</div>
			</div><!-- 第三块//end -->
		
		
		
		<!-- 第四块 -->
		<div class="CF-box4">
			<div class="w1200">
				<h2 class="CF-box4-h2">全金活期问答</h2>
				<div class="CF-box4-left">
					<h2>转入全金活期份额有限制吗？</h2>
					<p><i class="arrow"></i>普通用户转入全金总额上限为80,000.00元。</p>
					
					<h2>如何转入资金并转入？</h2>
					<p><i class="arrow"></i>转入全金活期的充值、转入流程与投资“定期理财”相似。用户可先充值至账户后进行转入，也可在转入过程中进行充值。</p>
					
					<h2>可以设置自动抓安如全金活期吗？</h2>
					<p><i class="arrow"></i>暂不可支持账户余额自动转入全金活期。</p>
				</div>
				<div class="CF-box4-right">
					<h2>转入全金活期份额有限制吗？</h2>
					<p><i class="arrow"></i>普通用户转入全金总额上限为80,000.00元。</p>
					
					<h2>如何转入资金并转入？</h2>
					<p><i class="arrow"></i>转入全金活期的充值、转入流程与投资“定期理财”相似。用户可先充值至账户后进行转入，也可在转入过程中进行充值。</p>
					
					<h2>可以设置自动抓安如全金活期吗？</h2>
					<p><i class="arrow"></i>暂不可支持账户余额自动转入全金活期。</p>
				</div>
			</div>
		</div><!-- 第四块//end -->
	</div>
	<!-- foot -->
	<div class="foot">
		<div class="foot-line"></div>
		<div class="w1200">
			<div class="foot-line-red"></div>
			<div class="foot-top clearfix">
				<div class="foot-left">
				<ul>
					<li><a href="javascript:void(0);">关于我们</a></li>
					<li><a href="javascript:void(0);">关于金丘</a></li>
					<li><a href="javascript:void(0);">公司历程</a></li>
					<li><a href="javascript:void(0);">招贤纳士</a></li>
					<li><a href="javascript:void(0);">联系我们</a></li>
				</ul>
				<ul>
					<li><a href="javascript:void(0);">帮助中心</a></li>
					<li><a href="javascript:void(0);">热点问题</a></li>
					<li><a href="javascript:void(0);">全金活期</a></li>
					<li><a href="javascript:void(0);">全金定期</a></li>
					<li><a href="javascript:void(0);">全金票据</a></li>
				</ul>
				<ul>
					<li><a href="javascript:void(0);">安全保障</a></li>
					<li><a href="javascript:void(0);">专业保理公司</a></li>
					<li><a href="javascript:void(0);">先进的IT技术</a></li>
					<li><a href="javascript:void(0);">风险金保障体制</a></li>
				</ul>
			</div>
			<div class="foot-right">
				<div class="foot-right1">
					<h2>联系我们</h2>
					<ul>
						<li>
							客服电话：<span>400-1000-361</span>
							<p>（工作日 9:00-22:00）  </p>
						</li>
						<li>
							客服邮箱：service@361money.com
						</li>
						<li>
							公司地址：上海市黄浦区外滩SOHO办公A座15层
						</li>
					</ul>

				</div>
				<div class="foot-right2">
					<h2>手机应用</h2>
					<img src="../../../static/images/foot-down.jpg" title="手机应用"/>
					<p>扫码下载全金网APP</p>
				</div>
			</div>
			</div>
			
			<div class="foot-bottom">
				<hr />
				<p>友情链接：<a href="javascript:void(0);">金丘票据</a></p>
				<hr />
				<div class="foot-copy">Copyright©2014-2015.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上海金丘金融信息服务有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;版权所有 沪ICP备15026185</div>
				<div class="foot-safe">
					<img src="../../../static/images/foot-safe1.png" title="安全"/>
					<img src="../../../static/images/foot-safe2.png" title="诚信网站"/>
					<img src="../../../static/images/foot-safe3.png" title="360网站安全检测"/>
				</div>
			</div>
		</div>
	</div><!-- foot//end -->
	
	<script>
	$(function() {
		$(".js-scroll").click(function(){
		        $('body,html').animate({scrollTop:812},800);
		        return false;
		    });
	});
	</script>

</body>
</html>