<html>
<head>
    <title>底部</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <link type="image/x-icon" href="../../../static/images/favicon.ico" rel="shortcut icon">
	<link href="../../../static/styles/normalize.css" type="text/css" rel="stylesheet" />
	<link href="../../../static/styles/common.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<!-- foot -->
	<div class="foot">
		<div class="foot-line"></div>
		<div class="w1200">
			<div class="foot-line-red"></div>
			<div class="foot-top clearfix">
				<div class="foot-left">
				<ul>
					<li><a href="javascript:void(0);">关于我们</a></li>
					<li><a href="javascript:void(0);">关于金丘</a></li>
					<li><a href="javascript:void(0);">公司历程</a></li>
					<li><a href="javascript:void(0);">招贤纳士</a></li>
					<li><a href="javascript:void(0);">联系我们</a></li>
				</ul>
				<ul>
					<li><a href="javascript:void(0);">帮助中心</a></li>
					<li><a href="javascript:void(0);">热点问题</a></li>
					<li><a href="javascript:void(0);">全金活期</a></li>
					<li><a href="javascript:void(0);">全金定期</a></li>
					<li><a href="javascript:void(0);">全金票据</a></li>
				</ul>
				<ul>
					<li><a href="javascript:void(0);">安全保障</a></li>
					<li><a href="javascript:void(0);">专业保理公司</a></li>
					<li><a href="javascript:void(0);">先进的IT技术</a></li>
					<li><a href="javascript:void(0);">风险金保障体制</a></li>
				</ul>
			</div>
			<div class="foot-right">
				<div class="foot-right1">
					<h2>联系我们</h2>
					<ul>
						<li>
							客服电话：<span>400-1000-361</span>
							<p>（工作日 9:00-22:00）  </p>
						</li>
						<li>
							客服邮箱：service@361money.com
						</li>
						<li>
							公司地址：上海市黄浦区外滩SOHO办公A座15层
						</li>
					</ul>

				</div>
				<div class="foot-right2">
					<h2>手机应用</h2>
					<img src="../../../static/images/foot-down.jpg" title="手机应用"/>
					<p>扫码下载全金网APP</p>
				</div>
			</div>
			</div>
			
			<div class="foot-bottom">
				<hr />
				<p>友情链接：<a href="javascript:void(0);">金丘票据</a></p>
				<hr />
				<div class="foot-copy">Copyright©2014-2015.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上海金丘金融信息服务有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;版权所有 沪ICP备15026185</div>
				<div class="foot-safe">
					<img src="../../../static/images/foot-safe1.png" title="安全"/>
					<img src="../../../static/images/foot-safe2.png" title="诚信网站"/>
					<img src="../../../static/images/foot-safe3.png" title="360网站安全检测"/>
				</div>
			</div>
		</div>
	</div><!-- foot//end -->
<script>
</script>
</body>
</html>