<html>
<head>
    <title>头部</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <link type="image/x-icon" href="../../../static/images/favicon.ico" rel="shortcut icon">
	<link href="../../../static/styles/normalize.css" type="text/css" rel="stylesheet" />
	<link href="../../../static/styles/common.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<!-- 头部 -->
	<div class="head">
		<div class="head-top">
			<div class="w1200">
				<ul class="head-top-left">
					<li>财富热线：<span>400-1000-361</span></li>
					<li><i title="微信客服" class="img-wx"></i>微信客服
						<img src="../../../static/images/head-wxkf.png" title="微信客服" class="wxkf"/>
					</li>
					<li><i title="手机客户端" class="img-sj"></i>手机客户端
						
					</li>
					<li><i title="新浪微博" class="img-xl"></i>新浪微博
						<a href="javascript:void(0);">
							<img src="../../../static/images/head-wb.png" title="新浪微博" class="xlwb"/>
						</a>
					</li>
				</ul>
				<ul class="head-top-right">
					<li><a href="javascript:void(0);" class="font-red">立即登录</a><i></i></li>
					<li><a href="javascript:void(0);">快速注册</a><i></i></li>
					<li><a href="javascript:void(0);">帮助中心</a></li>
				</ul>
			</div>
		</div>
		<div class="head-nav">
			<div class="w1200">
				<img src="../../../static/images/head-nav-logo.png" title="全金网LOGO" width="165" height="86"/>
				<ul class="head-nav-right">
					<li><a href="javascript:void(0);" class="on">首页</a></li>
					<li><a href="javascript:void(0);">全金票据</a></li>
					<li><a href="javascript:void(0);">全金计划</a></li>
					<li><a href="javascript:void(0);">关于我们</a></li>
					<li>
						<a href="javascript:void(0);">
						<img src="../../../static/images/head-person.png" title="用户头像" width="30" height="30" class="head-person"/>
						用户中心
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div><!-- 头部//end -->
<script>
</script>
</body>
</html>