<html>
<head>
    <title>首页</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <link type="image/x-icon" href="../../../static/images/favicon.ico" rel="shortcut icon">
	<link href="../../../static/styles/normalize.css" type="text/css" rel="stylesheet" />
	<link href="../../../static/styles/common.css" type="text/css" rel="stylesheet" />
	<link href="../../../static/js/jquery-validation/1.11.1/validate.css" type="text/css" rel="stylesheet" />
	<link href="../../../static/js/validation/css/validationEngine.jquery.css" type="text/css" rel="stylesheet">
	<link href="../../../static/js/layer/skin/layer.css" type="text/css" rel="stylesheet"/>
	
	<link href="../../../static/styles/jquery.bxslider.css" type="text/css" rel="stylesheet"/>
	
	<!-- script src="../../../static/js/jquery/modernizr-2.6.2.min.js" type="text/javascript"></script>
	<script src="../../../static/js/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="../../../static/js/layer/layer.min.js"></script>
	<script src="../../../static/js/validation/js/jquery.validationEngine.js"></script>
	<script src="../../../static/js/validation/js/jquery.validationEngine-zh_CN.js"></script>
	<script src="../../../static/js/jquery.cookie.js"></script>
	<script src="../../../static/js/math.min.js"></script>
	<script src="../../../static/js/application.js"></script>
	<script src="../../../static/js/common.js" type="text/javascript"></script>
	<script src="../../../static/js/jquery.slides.min.js"></script>
	<script src="../../../static/js/jq.Slide.js"></script> -->
    
    <!--slideList -->
    <script type="text/javascript" src="../../../static/js/slideList/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../../../static/js/slideList/jquery.bxslider.js"></script>
    <!-- --slideList//end-- -->
    <!-- -wave- -->
    <!-- <script src="../../../static/js/wave/vendors.js"></script>
    <script src="../../../static/js/wave/wave-index.js"></script> -->
    <!-- --wave//end-- -->
    
</head>
<body>

<div class="mian">
	

<div class="bg-gray">
    <!-- --历程 轮播-- -->
    <div class="course">
        <div class="course-title">我们的历程</div>
        <div class="course-bg"></div>
        <div class="section">
						<div class="slider3">
					      <div class="slide">
							  <a href="javascript:void(0);" class="slide">
							    <h2>1995</h2>
							    <i> </i>
							    <div class="article">
							      2004集团总裁被授予“当代中国优秀 企业家”和“中国当代改革十大精英人物”，同年被推举为福建省诚信促进会副会长
							    </div>
							  </a>
						  </div>
					      <div class="slide">
							  <a href="javascript:void(0);" class="slide">
							    <h2>1995</h2>
							    <i> </i>
							    <div class="article">
							      2004集团总裁被授予“当代中国优秀 企业家”和“中国当代改革十大精英人物”，同年被推举为福建省诚信促进会副会长
							    </div>
							  </a>
						  </div>
						  <div class="slide">
							  <a href="javascript:void(0);" class="slide on">
							    <h2>1995</h2>
							    <i> </i>
							    <div class="article">
							      2004集团总裁被授予“当代中国优秀 企业家”和“中国当代改革十大精英人物”，同年被推举为福建省诚信促进会副会长
							    </div>
							  </a>
						  </div>
						  <div class="slide">
							  <a href="javascript:void(0);" class="slide">
							    <h2>1995</h2>
							    <i> </i>
							    <div class="article">
							      2004集团总裁被授予“当代中国优秀 企业家”和“中国当代改革十大精英人物”，同年被推举为福建省诚信促进会副会长
							    </div>
							  </a>
						  </div>
						  <div class="slide">
							  <a href="javascript:void(0);" class="slide">
							    <h2>1995</h2>
							    <i> </i>
							    <div class="article">
							      2004集团总裁被授予“当代中国优秀 企业家”和“中国当代改革十大精英人物”，同年被推举为福建省诚信促进会副会长
							    </div>
							  </a>
						  </div>
					    </div>
					</div>
    </div>
    <!-- --历程//END - -->


</div>
</div>	


<script>
$(document).ready(function(){
          $('.slider3').bxSlider({
            slideWidth: 200,
            minSlides: 2,
            maxSlides: 5,
			moveSlides: 1,
            slideMargin: 10
          });
});
</script>
</body>
</html>