<html>
<head>
    <title>首页</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <link type="image/x-icon" href="../../../static/images/favicon.ico" rel="shortcut icon">
	<link href="../../../static/styles/normalize.css" type="text/css" rel="stylesheet" />
	<link href="../../../static/styles/common.css" type="text/css" rel="stylesheet" />
	<link href="../../../static/js/jquery-validation/1.11.1/validate.css" type="text/css" rel="stylesheet" />
	<link href="../../../static/js/validation/css/validationEngine.jquery.css" type="text/css" rel="stylesheet">
	<link href="../../../static/js/layer/skin/layer.css" type="text/css" rel="stylesheet"/>
	<!-- <script src="../../../static/js/jquery/modernizr-2.6.2.min.js" type="text/javascript"></script>
	<script src="../../../static/js/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="../../../static/js/layer/layer.min.js"></script>
	<script src="../../../static/js/validation/js/jquery.validationEngine.js"></script>
	<script src="../../../static/js/validation/js/jquery.validationEngine-zh_CN.js"></script>
	<script src="../../../static/js/jquery.cookie.js"></script>
	<script src="../../../static/js/math.min.js"></script>
	<script src="../../../static/js/application.js"></script>
	<script src="../../../static/js/common.js" type="text/javascript"></script>
	<script src="../../../static/js/jquery.slides.min.js"></script>
	<script src="../../../static/js/jq.Slide.js"></script> -->
    <!-- -wave- -->
    <script src="../../../static/js/wave/vendors.js"></script>
    <script src="../../../static/js/wave/wave-index.js"></script>
    <!-- --wave//end-- -->
    <!--slideList//与wave谁在下面谁起效果-->
    <script src="../../../static/js/slideList/prototype.js"></script>
    <script src="../../../static/js/slideList/effects.js"></script>
    <script src="../../../static/js/slideList/glider.js"></script>
    <!-- --slideList//end-- -->
    
</head>
<body>
<!-- 头部 -->
	<div class="head">
		<div class="head-top clearfix">
			<div class="w1200">
				<ul class="head-top-left">
					<li>财富热线：<span>400-1000-361</span></li>
					<li><i title="微信客服" class="img-wx"></i>微信客服
						<img src="../../../static/images/head-wxkf.png" title="微信客服" class="wxkf"/>
					</li>
					<li><i title="手机客户端" class="img-sj"></i>手机客户端
						
					</li>
					<li><i title="新浪微博" class="img-xl"></i>新浪微博
						<a href="javascript:void(0);">
							<img src="../../../static/images/head-wb.png" title="新浪微博" class="xlwb"/>
						</a>
					</li>
				</ul>
				<ul class="head-top-right">
					<li><a href="javascript:void(0);" class="font-red">立即登录</a><i></i></li>
					<li><a href="javascript:void(0);">快速注册</a><i></i></li>
					<li><a href="javascript:void(0);">帮助中心</a></li>
				</ul>
			</div>
		</div>
		<div class="head-nav">
			<div class="w1200">
				<img src="../../../static/images/head-nav-logo.png" title="全金网LOGO" width="165" height="86"/>
				<ul class="head-nav-right">
					<li><a href="javascript:void(0);" class="on">首页</a></li>
					<li><a href="javascript:void(0);">全金票据</a></li>
					<li><a href="javascript:void(0);">全金计划</a></li>
					<li><a href="javascript:void(0);">关于我们</a></li>
					<li>
						<a href="javascript:void(0);">
						<img src="../../../static/images/head-person.png" title="用户头像" width="30" height="30" class="head-person"/>
						用户中心
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div><!-- 头部//end -->
<div class="mian">
	<div class="w1200 p-relative">
    <div class="w1200 p-absolute">
        <div class="right-register">
            <h3>预计年化收益率</h3>
            <h2>6%~10%</h2>
            <p class="p-tip">投资即起息，不错过每一分收益。</p>
            <a href="javascript:void(0);" class="register-btn">立即注册</a>
            <a href="javascript:void(0);" class="register-login">已有账号？立即登录</a>
        </div>
    </div>

</div>

<div class="bg-gray">
    <div class="banner">
        <div class="banner_slide">
            <div class="slides_container">
                    <div class="page"><a target="_blank" href=""><img src="../../../static/images/index-banner.jpg" /></a></div>
                    <div class="page"><a target="_blank" href=""><img src="../../../static/images/index-banner.jpg" /></a></div>
                    <div class="page"><a target="_blank" href=""><img src="../../../static/images/index-banner.jpg" /></a></div>
            </div>
            <ul class="pagination">
                    <li><a href="javascript:void(0);"> </a></li>
                    <li><a href="javascript:void(0);"> </a></li>
                    <li><a href="javascript:void(0);"> </a></li>
            </ul>
        </div>

    </div>  <!-- 焦点轮播图//END -->
    <!-- --四大优势-- -->
    <div class="four-ad">
        <div class="w1200">
            <ul>
                <li>
                    <h2>高稳收益</h2>
                    <i class="icon1"></i>
                    <p>活期最高年化收益率9%，投资当日（T+0）即开始计息。</p>
                    <div class="bg opacity3"></div>
                </li>
                <li class="">
                    <h2>安全保障</h2>
                    <i class="icon2"></i>
                    <p>完善的风险保障机制，担保机构提供100%本息保障。</p>
                    <div class="bg opacity4"></div>
                </li>
                <li>
                    <h2>流动性强</h2>
                    <i class="icon3"></i>
                    <p>定活两变，随存随取，最快一日到账，灵活高效。</p>
                    <div class="bg opacity5"></div>
                </li>
                <li>
                    <h2>低门槛起投</h2>
                    <i class="icon4"></i>
                    <p>低门槛100起投。</p>
                    <div class="bg opacity6"></div>
                </li>
            </ul>
        </div>
    </div>
    <!-- --四大优势//END -- -->
    <!-- -公告-- -->
    <div class="mian-block">
        <div class="placard">
            <p><a href="javascript:void(0);" class="marquee"><marquee scrollamount='2' scrolldelay='' direction= 'up'  >150关于全金宝理财合作伙伴财富基金交易处理顺延的公告</marquee></a> <span>2016-01-07  <a href="javascript:void(0);">更多公告</a> </span></p>
        </div>
    </div>
    <!-- --公告//END -- -->
    <!-- --银行承兑汇票-- -->
    <div class="mian-block">
        <div class="draft-left p-relative">
            <div class="sm-title">最新推荐</div>
            <h2>银行承兑汇票</h2>
            <ul>
                <li>银行无条件承兑</li>
                <li>资金第三方监管</li>
                <li>票据真实无假票</li>
            </ul>
            <i class="desgin1"></i>
        </div>
        <div class="draft-right p-relative">
            <div class="wave">
                <div class="headline">
                    <div class="headline-bg">
                        <canvas id="waves" class="waves" width="2688" height="680" style="width: 2686.6px; height: 680px;position: relative;"></canvas>
                    </div>
                </div>
            </div>
            <ul>
                <li>
                    <h2>8.00<span>%</span></h2>
                    <p>年化收益率</p>
                </li>
                <li class="li2">
                    <h2>45<span>天</span></h2>
                    <p>年化收益率</p>
                </li>
                <li class="li3">
                    <h2><span>当日计息</span></h2>
                    <p>计息方式</p>
                </li>
                <li class="li4">
                    <h2><span>516.36元</span></h2>
                    <p>计息方式</p>
                </li>
            </ul>
            <div class="draft-right-bottom">
                <a href="javascript:void(0);" class="btn-shadow xl-btn">马上加入</a>
            </div>

        </div>

    </div>
    <!-- --银行承兑汇票//END -- -->
    <!-- --理财-- -->
    <div class="mian-block">
        <div class="fin-left p-relative">
            <div class="fin-top">
                <h2>活期理财-全金宝</h2>
                <ul>
                    <li>短期高收益，速速来抢</li>
                </ul>
            </div>
            <div class="fin-bottom">
                <h2>定期理财</h2>
                <ul>
                    <li>银行无条件承兑</li>
                    <li>资金第三方监管</li>
                    <li>票据真实无假票</li>
                </ul>
            </div>
        </div>
        <div class="fin-right p-relative">
            <i class="desgin2"></i>
            <div class="fin-top">
                <ul>
                    <li>
                        <h2>9.00<span>%</span></h2>
                        <p>预计年化收益率</p>
                    </li>
                    <li>
                        <h2>900<span>元</span></h2>
                        <p>预计万元年化收益率</p>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="btn-shadow xl-btn">马上加入</a>
                    </li>
                </ul>
            </div>

            <div class="fin-bottom">
                <ul>
                    <li>
                         <i class="qjw180"></i>
                        <p>全金180</p>
                        <a href="javascript:void(0);" class="btn-shadow sm-btn">马上加入</a>
                    </li>
                    <li >
                        <i class="qjw270"></i>
                        <p>全金270</p>
                        <a href="javascript:void(0);" class="btn-shadow sm-btn">马上加入</a>
                    </li>
                    <li>
                        <i class="qjw360"></i>
                        <p>全金360</p>
                        <a href="javascript:void(0);" class="btn-shadow sm-btn">马上加入</a>
                    </li>
                    <div class="invest-list">
                        <h2>投资记录</h2>
                        <ul>
                            <li>
                                170****8604 14时37分投资<span>￥50</span>
                            </li>
                            <li>
                                181****8346 12时57分投资<span>￥500</span>
                            </li>
                            <li>
                                159****8783 10时55分投资<span>￥60,000</span>
                            </li>
                            <li>
                                170****8604 14时37分投资<span>￥50</span>
                            </li>
                            <li>
                                181****8346 12时57分投资<span>￥500</span>
                            </li>
                        </ul>
                    </div>
                </ul>

            </div>
        </div>
    </div>
    <!-- --理财//END -- -->
    <!-- --历程 轮播-- -->
    <div class="course">
        <div class="course-title">我们的历程</div>
        <div class="course-bg"></div>
        <div class="feature" id="my-glider">
            <div class="scroller">
                <div class="content">
                    <div class="section" id="section1">
                        <a href="javascript:void(0);">
                            <h2>1995</h2>
                            <i> </i>
                            <div class="article">
                                2004集团总裁被授予“当代中国优秀 企业家”和“中国当代改革十大精英人物”，同年被推举为福建省诚信促进会副会长
                            </div>
                        </a>
                        <a href="javascript:void(0);">
                            <h2>1995</h2>
                            <i> </i>
                            <div class="article">
                                2004集团总裁被授予“当代中国优秀 企业家”和“中国当代改革十大精英人物”，同年被推举为福建省诚信促进会副会长
                            </div>
                        </a>
                        <a href="javascript:void(0);" class="on">
                            <h2>1995</h2>
                            <i> </i>
                            <div class="article">
                                2004集团总裁被授予“当代中国优秀 企业家”和“中国当代改革十大精英人物”，同年被推举为福建省诚信促进会副会长
                            </div>
                        </a>
                        <a href="javascript:void(0);">
                            <h2>1995</h2>
                            <i> </i>
                            <div class="article">
                                2004集团总裁被授予“当代中国优秀 企业家”和“中国当代改革十大精英人物”，同年被推举为福建省诚信促进会副会长
                            </div>
                        </a>
                        <a href="javascript:void(0);">
                            <h2>1995</h2>
                            <i> </i>
                            <div class="article">
                                2004集团总裁被授予“当代中国优秀 企业家”和“中国当代改革十大精英人物”，同年被推举为福建省诚信促进会副会长
                            </div>
                        </a>
                    </div>

                    <div class="section" id="section2">
                        <a href="javascript:void(0);">
                            <h2>1995</h2>
                            <i></i>
                            <div class="article">
                                2004集团总裁被授予“当代中国优秀 企业家”和“中国当代改革十大精英人物”，同年被推举为福建省诚信促进会副会长
                            </div>
                        </a>
                        <a href="javascript:void(0);">
                            <h2>1995</h2>
                            <i></i>
                            <div class="article">
                                2004集团总裁被授予“当代中国优秀 企业家”和“中国当代改革十大精英人物”，同年被推举为福建省诚信促进会副会长
                            </div>
                        </a>
                        <a href="javascript:void(0);"  class="on">
                            <h2>1995</h2>
                            <i></i>
                            <div class="article">
                                2004集团总裁被授予“当代中国优秀 企业家”和“中国当代改革十大精英人物”，同年被推举为福建省诚信促进会副会长
                            </div>
                        </a>
                        <a href="javascript:void(0);">
                            <h2>1995</h2>
                            <i></i>
                            <div class="article">
                                2004集团总裁被授予“当代中国优秀 企业家”和“中国当代改革十大精英人物”，同年被推举为福建省诚信促进会副会长
                            </div>
                        </a>
                        <a href="javascript:void(0);">
                            <h2>1995</h2>
                            <i></i>
                            <div class="article">
                                2004集团总裁被授予“当代中国优秀 企业家”和“中国当代改革十大精英人物”，同年被推举为福建省诚信促进会副会长
                            </div>
                        </a>
                    </div>
                    <div class="section" id="section3">
                        <a href="javascript:void(0);">
                            <h2>1995</h2>
                            <i> </i>
                            <div class="article">
                                2004集团总裁被授予“当代中国优秀 企业家”和“中国当代改革十大精英人物”，同年被推举为福建省诚信促进会副会长
                            </div>
                        </a>
                        <a href="javascript:void(0);">
                            <h2>1995</h2>
                            <i> </i>
                            <div class="article">
                                2004集团总裁被授予“当代中国优秀 企业家”和“中国当代改革十大精英人物”，同年被推举为福建省诚信促进会副会长
                            </div>
                        </a>
                        <a href="javascript:void(0);"  class="on">
                            <h2>1995</h2>
                            <i> </i>
                            <div class="article">
                                2004集团总裁被授予“当代中国优秀 企业家”和“中国当代改革十大精英人物”，同年被推举为福建省诚信促进会副会长
                            </div>
                        </a>
                        <a href="javascript:void(0);">
                            <h2>1995</h2>
                            <i> </i>
                            <div class="article">
                                2004集团总裁被授予“当代中国优秀 企业家”和“中国当代改革十大精英人物”，同年被推举为福建省诚信促进会副会长
                            </div>
                        </a>
                        <a href="javascript:void(0);">
                            <h2>1995</h2>
                            <i> </i>
                            <div class="article">
                                2004集团总裁被授予“当代中国优秀 企业家”和“中国当代改革十大精英人物”，同年被推举为福建省诚信促进会副会长
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <a id="prevLink" onClick="my_glider.previous();return false;" href="javascript:void(0);" class="prevLink"> </a>
            <a id="nextLink" onClick="my_glider.next();return false" href="javascript:void(0);" class="nextLink"> </a>
        </div>
    </div>
    <!-- --历程//END - -->

    <!-- --全金资讯-- -->
    <div class="mian-block clearfix pb40">
        <div class="info-top">
            <a href="javascript:void(0);">
                <img src="../../../static/images/index-img.png">
            </a>

            <ul>
                <a href="javascript:void(0);">
                    <li>
                        <p class="ellipsis">投资理财是个技术活 但也有原则可循 </p><span>2015-12-23</span>
                    </li>
                </a>
                <a href="javascript:void(0);">
                    <li>
                        <p class="ellipsis">除了富二代 据说这9种人最有富豪潜质 </p><span>2015-12-23</span>
                    </li>
                </a>
                <a href="javascript:void(0);">
                    <li>
                        <p class="ellipsis">供给侧改革推动产业巨变 P2P背后支撑还存在么 </p><span>2015-12-23</span>
                    </li>
                </a>
                <a href="javascript:void(0);">
                    <li>
                        <p class="ellipsis">养老金空账已超3.5万亿 成国家财政重大风险 </p><span>2015-12-23</span>
                    </li>
                </a>
            </ul>
        </div>
        <ul class="info-bottom">
            <a href="javascript:void(0);">
                <li class="bg_gray1">
                    <h2 class="ellipsis">网络空间命运共同体让互联网金融“深受鼓舞”</h2>
                    <p>第二届世界互联网大会１６日在乌镇开幕,全球互联网大佬齐聚乌镇。国家主席习近平出席开幕式并发表主旨演讲。</p>
                    <span>新华网</span>
                </li>
            </a>
            <a href="javascript:void(0);">
                <li class="bg_gray2">
                    <h2 class="ellipsis">网络空间命运共同体让互联网金融“深受鼓舞”</h2>
                    <p>第二届世界互联网大会１６日在乌镇开幕,全球互联网大佬齐聚乌镇。国家主席习近平出席开幕式并发表主旨演讲。</p>
                    <span>新华网</span>
                </li>
            </a>
            <a href="javascript:void(0);">
                <li class="bg_gray3">
                    <h2 class="ellipsis">网络空间命运共同体让互联网金融“深受鼓舞”</h2>
                    <p>第二届世界互联网大会１６日在乌镇开幕,全球互联网大佬齐聚乌镇。国家主席习近平出席开幕式并发表主旨演讲。</p>
                    <span>新华网</span>
                </li>
            </a>
        </ul>
    </div>
    <!-- --全金资讯//END -- -->

</div>
</div>	
<!-- foot -->
	<div class="foot">
		<div class="foot-line"></div>
		<div class="w1200">
			<div class="foot-line-red"></div>
			<div class="foot-top clearfix">
				<div class="foot-left">
				<ul>
					<li><a href="javascript:void(0);">关于我们</a></li>
					<li><a href="javascript:void(0);">关于金丘</a></li>
					<li><a href="javascript:void(0);">公司历程</a></li>
					<li><a href="javascript:void(0);">招贤纳士</a></li>
					<li><a href="javascript:void(0);">联系我们</a></li>
				</ul>
				<ul>
					<li><a href="javascript:void(0);">帮助中心</a></li>
					<li><a href="javascript:void(0);">热点问题</a></li>
					<li><a href="javascript:void(0);">全金活期</a></li>
					<li><a href="javascript:void(0);">全金定期</a></li>
					<li><a href="javascript:void(0);">全金票据</a></li>
				</ul>
				<ul>
					<li><a href="javascript:void(0);">安全保障</a></li>
					<li><a href="javascript:void(0);">专业保理公司</a></li>
					<li><a href="javascript:void(0);">先进的IT技术</a></li>
					<li><a href="javascript:void(0);">风险金保障体制</a></li>
				</ul>
			</div>
			<div class="foot-right">
				<div class="foot-right1">
					<h2>联系我们</h2>
					<ul>
						<li>
							客服电话：<span>400-1000-361</span>
							<p>（工作日 9:00-22:00）  </p>
						</li>
						<li>
							客服邮箱：service@361money.com
						</li>
						<li>
							公司地址：上海市黄浦区外滩SOHO办公A座15层
						</li>
					</ul>

				</div>
				<div class="foot-right2">
					<h2>手机应用</h2>
					<img src="../../../static/images/foot-down.jpg" title="手机应用"/>
					<p>扫码下载全金网APP</p>
				</div>
			</div>
			</div>
			
			<div class="foot-bottom">
				<hr />
				<p>友情链接：<a href="javascript:void(0);">金丘票据</a></p>
				<hr />
				<div class="foot-copy">Copyright©2014-2015.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上海金丘金融信息服务有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;版权所有 沪ICP备15026185</div>
				<div class="foot-safe">
					<img src="../../../static/images/foot-safe1.png" title="安全"/>
					<img src="../../../static/images/foot-safe2.png" title="诚信网站"/>
					<img src="../../../static/images/foot-safe3.png" title="360网站安全检测"/>
				</div>
			</div>
		</div>
	</div><!-- foot//end -->

<script>
    //slideList
    var my_glider = new Glider('my-glider', {
        duration : 0.5
    });
    //选中导航
    $("#home").addClass('on').siblings().removeClass('on');
    //主banner切换
    function bannerWidth(){
        var w1 = $(".pagination").outerWidth();
        $(".pagination").css('margin-left',-w1/2)
        $(".banner_slide .page").css("width",$(window).width());
    }

    $(window).resize(function(){
        bannerWidth();
    });
    bannerWidth();
    $(".banner_slide").slides({
        play:5000,
        pause:3000,
        generatePagination:false,
        generatePrevnext:false
    });
    //    $(".investList").Slide({
    //        effect : "scroolTxt",
    //        speed : "normal",
    //        timer : 3000,
    //        steps:1
    //    });
</script>
</body>
</html>