<html>
<head>
    <title>票据列表</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <link type="image/x-icon" href="../../../static/images/favicon.ico" rel="shortcut icon">
	<link href="../../../static/styles/normalize.css" type="text/css" rel="stylesheet" />
	<link href="../../../static/styles/common.css" type="text/css" rel="stylesheet" />
	<!-- <link href="../../../static/styles/radialindicator.css"  rel="stylesheet" type="text/css" /> -->
	<!--slideList -->
	<link href="../../../static/styles/jquery.bxslider.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="../../../static/js/slideList/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../../../static/js/slideList/jquery.bxslider.js"></script>
	<script src="../../../static/js/radialindicator.js"></script>
    <!-- --slideList//end-- -->
    <style>
    	
    </style>
</head>
<body>
	<!-- 票据banner -->
	<div class="TL-banner">
		<h2 class="TL-banner-title">银行承兑汇票</h2>
		<div class="TL-banner-content">
			<div class="slider6"><!-- 轮播类名  未添加   -->
					<div class="slide"><!-- slide 一块  --->  
						<div class="banner-part2">
							<!-- 左边  -->
							<div class="TL-banner-left">
								<div class="left-head">
									<h2>全金票据宝151023期</h2>
									<h3>承兑银行： 招商银行</h3>
								</div>
								<div class="left-bottom">
									<div class="left-middle">
											<h2>12.00<span>%</span></h2>
											<h3>年化收益率</h3>
											<div class="left-middle2"></div>
									</div>
									<ul class="left-bottom-left">
										<li>
											<h2>120,500<span>元</span></h2>
											<p>票面金额</p>
										</li>
										<li>
											<h2>60,235<span>元</span></h2>
											<p>剩余可购买金额</p>
										</li>
										<li>
											<h2>75<span>%</span></h2>
											<p>进度</p>
										</li>
									</ul> 
									<ul class="left-bottom-right">
										<li>
											<h2>18<span>天</span></h2>
											<p class="TL-date" >项目期限</p>
										</li>
										<li>
											<h2> </h2>
											<p> </p>
										</li>
										<li>
											<a href="javascript:void(0);" class="btn-buy">马上赚钱</a>
										</li>
									</ul>
								</div>
							</div><!-- 左边  //end -->
							<!--右边   -->
							<div class="TL-banner-right">
								<div class="right-head">
									<h2>全金票据宝151024期</h2>
									<h3>承兑银行： 招商银行</h3>
								</div>
								<div class="right-mian">
									<div class="TL-list-main">
										<i class="arrow-blue"></i>
										<div class="cricle-gray"></div>
										<div class="cricle-blue rotate360"></div>
										<h2>10.00<span>%</span></h2>
										<p>年化收益率</p>
									</div>
									<ul class="TL-list-ul">
										<li class="li1">
											<h2>120,500元</h2>
											<p>票面金额</p>
										</li>
										<li class="li2">
											<h2>60,235元</h2>
											<p>剩余可购买金额</p>
										</li>
										<li class="li3">
											<h2><span class="font-red">18</span>天</h2>
											<p>项目期限</p>
										</li>
									</ul>
									<div class="TL-progress">
										<em style="left:64%;">64%</em>
										<span><i style="width:64%;"></i></span>
									</div>
									<div class="Tl-list-foot">
										<a href="javascript:void(0);" class="TL-list-btn">马上赚钱</a>
									</div>
								</div>
							</div><!--右边  //end -->
						</div>
				</div>	<!-- slide 一块 //end --->
				<div class="slide"><!-- slide 一块  --->  
						<div class="banner-part2">
							<!-- 左边  -->
							<div class="TL-banner-left">
								<div class="left-head">
									<h2>全金票据宝151024期</h2>
									<h3>承兑银行： 招商银行</h3>
								</div>
								<div class="left-bottom">
									<div class="left-middle">
											<h2>12.00<span>%</span></h2>
											<h3>年化收益率</h3>
										<div class="left-middle2"></div>
									</div>
									<ul class="left-bottom-left">
										<li>
											<h2>120,500<span>元</span></h2>
											<p>票面金额</p>
										</li>
										<li>
											<h2>60,235<span>元</span></h2>
											<p>剩余可购买金额</p>
										</li>
										<li>
											<h2>75<span>%</span></h2>
											<p>进度</p>
										</li>
									</ul> 
									<ul class="left-bottom-right">
										<li>
											<h2>18<span>天</span></h2>
											<p class="TL-date" >项目期限</p>
										</li>
										<li>
											<h2> </h2>
											<p> </p>
										</li>
										<li>
											<a href="javascript:void(0);" class="btn-buy">马上赚钱</a>
										</li>
									</ul>
								</div>
							</div><!-- 左边  //end -->
							<!--右边   -->
							<div class="TL-banner-right">
								<div class="right-head">
									<h2>全金票据宝151025期</h2>
									<h3>承兑银行： 招商银行</h3>
								</div>
								<div class="right-mian">
									<div class="TL-list-main">
										<i class="arrow-blue"></i>
										<div class="cricle-gray"></div>
										<div class="cricle-blue rotate360"></div>
										<h2>10.00<span>%</span></h2>
										<p>年化收益率</p>
									</div>
									<ul class="TL-list-ul">
										<li class="li1">
											<h2>120,500元</h2>
											<p>票面金额</p>
										</li>
										<li class="li2">
											<h2>60,235元</h2>
											<p>剩余可购买金额</p>
										</li>
										<li class="li3">
											<h2><span class="font-red">18</span>天</h2>
											<p>项目期限</p>
										</li>
									</ul>
									<div class="TL-progress">
										<em style="left:64%;">64%</em>
										<span><i style="width:64%;"></i></span>
									</div>
									<div class="Tl-list-foot">
										<a href="javascript:void(0);" class="TL-list-btn">马上赚钱</a>
									</div>
								</div>
							</div><!--右边  //end -->
						</div>
				</div>	<!-- slide 一块 //end --->
				<div class="slide"><!-- slide 一块  --->  
						<div class="banner-part2">
							<!-- 左边  -->
							<div class="TL-banner-left">
								<div class="left-head">
									<h2>全金票据宝151025期</h2>
									<h3>承兑银行： 招商银行</h3>
								</div>
								<div class="left-bottom">
									<div class="left-middle">
										
											<h2>12.00<span>%</span></h2>
											<h3>年化收益率</h3>
											<div class="left-middle2">
										</div>
									</div>
									<ul class="left-bottom-left">
										<li>
											<h2>120,500<span>元</span></h2>
											<p>票面金额</p>
										</li>
										<li>
											<h2>60,235<span>元</span></h2>
											<p>剩余可购买金额</p>
										</li>
										<li>
											<h2>75<span>%</span></h2>
											<p>进度</p>
										</li>
									</ul> 
									<ul class="left-bottom-right">
										<li>
											<h2>18<span>天</span></h2>
											<p class="TL-date" >项目期限</p>
										</li>
										<li>
											<h2> </h2>
											<p> </p>
										</li>
										<li>
											<a href="javascript:void(0);" class="btn-buy">马上赚钱</a>
										</li>
									</ul>
								</div>
							</div><!-- 左边  //end -->
							<!--右边   -->
							<div class="TL-banner-right">
								<div class="right-head">
									<h2>全金票据宝151026期</h2>
									<h3>承兑银行： 招商银行</h3>
								</div>
								<div class="right-mian">
									<div class="TL-list-main">
										<i class="arrow-blue"></i>
										<div class="cricle-gray"></div>
										<div class="cricle-blue rotate360"></div>
										<h2>10.00<span>%</span></h2>
										<p>年化收益率</p>
									</div>
									<ul class="TL-list-ul">
										<li class="li1">
											<h2>120,500元</h2>
											<p>票面金额</p>
										</li>
										<li class="li2">
											<h2>60,235元</h2>
											<p>剩余可购买金额</p>
										</li>
										<li class="li3">
											<h2><span class="font-red">18</span>天</h2>
											<p>项目期限</p>
										</li>
									</ul>
									<div class="TL-progress">
										<em style="left:64%;">64%</em>
										<span><i style="width:64%;"></i></span>
									</div>
									<div class="Tl-list-foot">
										<a href="javascript:void(0);" class="TL-list-btn">马上赚钱</a>
									</div>
								</div>
							</div><!--右边  //end -->
						</div>
				</div>	<!-- slide 一块 //end --->
				<div class="slide"><!-- slide 一块  --->  
						<div class="banner-part2">
							<!-- 左边  -->
							<div class="TL-banner-left">
								<div class="left-head">
									<h2>全金票据宝151026期</h2>
									<h3>承兑银行： 招商银行</h3>
								</div>
								<div class="left-bottom">
									<div class="left-middle">
											<h2>12.00<span>%</span></h2>
											<h3>年化收益率</h3>
										<div class="left-middle2"></div>
									</div>
									<ul class="left-bottom-left">
										<li>
											<h2>120,500<span>元</span></h2>
											<p>票面金额</p>
										</li>
										<li>
											<h2>60,235<span>元</span></h2>
											<p>剩余可购买金额</p>
										</li>
										<li>
											<h2>75<span>%</span></h2>
											<p>进度</p>
										</li>
									</ul> 
									<ul class="left-bottom-right">
										<li>
											<h2>18<span>天</span></h2>
											<p class="TL-date" >项目期限</p>
										</li>
										<li>
											<h2> </h2>
											<p> </p>
										</li>
										<li>
											<a href="javascript:void(0);" class="btn-buy">马上赚钱</a>
										</li>
									</ul>
								</div>
							</div><!-- 左边  //end -->
							<!--右边   -->
							<div class="TL-banner-right">
								<div class="right-head">
									<h2>全金票据宝151027期</h2>
									<h3>承兑银行： 招商银行</h3>
								</div>
								<div class="right-mian">
									<div class="TL-list-main">
										<i class="arrow-blue"></i>
										<div class="cricle-gray"></div>
										<div class="cricle-blue rotate360"></div>
										<h2>10.00<span>%</span></h2>
										<p>年化收益率</p>
									</div>
									<ul class="TL-list-ul">
										<li class="li1">
											<h2>120,500元</h2>
											<p>票面金额</p>
										</li>
										<li class="li2">
											<h2>60,235元</h2>
											<p>剩余可购买金额</p>
										</li>
										<li class="li3">
											<h2><span class="font-red">18</span>天</h2>
											<p>项目期限</p>
										</li>
									</ul>
									<div class="TL-progress">
										<em style="left:64%;">64%</em>
										<span><i style="width:64%;"></i></span>
									</div>
									<div class="Tl-list-foot">
										<a href="javascript:void(0);" class="TL-list-btn">马上赚钱</a>
									</div>
								</div>
							</div><!--右边  //end -->
						</div>
				</div>	<!-- slide 一块 //end --->
				 
			</div>
		</div>
	</div><!-- 票据banner//end -->
	<script>
 $(document).ready(function(){
          $('.slider6').bxSlider({
			slideWidth: 1036, 
			adaptiveHeight: true,
			startSlides: 0, 
            slideMargin: 10
          });
 });
</script>
	<!-- 票据icon -->
	<div class="TL-list-icon">
		<a name="overview" ></a>
		<div class="w1200 p-relative">
			<a  class="scroll-down" href="#overview"><span class="scroll-down2"></span></a>
			<ul>
				<li>
					<i class="TL-list-icon1"><a href="javascript:void(0);" ></a></i>
					<h2>银行无条件承兑</h2>
				</li>
				<li>
					<i class="TL-list-icon2"><a href="javascript:void(0);" ></a></i>
					<h2>票据真实无假票</h2>
				</li>
				<li>
					<i class="TL-list-icon3"><a href="javascript:void(0);" ></a></i>
					<h2>资金第三方监管</h2>
				</li>
			</ul>
		</div>
		<em></em>
	</div><!-- 票据icon//end -->
	
	<!-- 票据列表 -->
	<div class="TL-list">
		<div class="w1200">
			<h2 class="TL-list-title">全金票据</h2>
			<!-- 票据块 -->
				<div class="TL-list-wrap">
					<div class="TL-list-content">
						<div class="Tl-list-head">
							<h3>承兑银行： 招商银行</h3>
							<h2>全金票据宝151024期</h2>
						</div>
						<div class="TL-list-main">
							<i class="arrow-blue"></i>
							<!-- 圆形进度条 -->
							<div class="TL-progress">
								<div class="progress"></div>
								<div class="progress-hover"></div>
							</div><!-- 圆形进度条 //end-->
	
							<h2>10.00<span>%</span></h2>
							<p>年化收益率</p>
						</div>
						<ul class="TL-list-ul">
							<li class="li1">
								<h2>120,500元</h2>
								<p>票面金额</p>
							</li>
							<li class="li2">
								<h2>60,235元</h2>
								<p>剩余可购买金额</p>
							</li>
							<li class="li3">
								<h2><span class="font-red">18</span>天</h2>
								<p>项目期限</p>
							</li>
						</ul>
						<div class="Tl-list-foot">
							<a href="javascript:void(0);" class="TL-list-btn">马上赚钱</a>
						</div>
					</div>
				</div><!-- 票据块//end -->
				<!-- 票据块 -->
				<div class="TL-list-wrap">
					<div class="TL-list-content">
						<div class="Tl-list-head">
							<h3>承兑银行： 招商银行</h3>
							<h2>全金票据宝151024期</h2>
						</div>
						<div class="TL-list-main">
							<i class="arrow-blue"></i>
							<!-- 圆形进度条 -->
							<div class="TL-progress">
								<div class="progress"></div>
								<div class="progress-hover"></div>
							</div><!-- 圆形进度条 //end-->
	
							<h2>10.00<span>%</span></h2>
							<p>年化收益率</p>
						</div>
						<ul class="TL-list-ul">
							<li class="li1">
								<h2>120,500元</h2>
								<p>票面金额</p>
							</li>
							<li class="li2">
								<h2>60,235元</h2>
								<p>剩余可购买金额</p>
							</li>
							<li class="li3">
								<h2><span class="font-red">18</span>天</h2>
								<p>项目期限</p>
							</li>
						</ul>
						<div class="Tl-list-foot">
							<a href="javascript:void(0);" class="TL-list-btn">马上赚钱</a>
						</div>
					</div>
				</div><!-- 票据块//end -->
				<!-- 票据块 -->
				<div class="TL-list-wrap">
					<div class="TL-list-content">
						<div class="Tl-list-head">
							<h3>承兑银行： 招商银行</h3>
							<h2>全金票据宝151024期</h2>
						</div>
						<div class="TL-list-main">
							<i class="arrow-blue"></i>
							<!-- 圆形进度条 -->
							<div class="TL-progress">
								<div class="progress"></div>
								<div class="progress-hover"></div>
							</div><!-- 圆形进度条 //end-->
	
							<h2>10.00<span>%</span></h2>
							<p>年化收益率</p>
						</div>
						<ul class="TL-list-ul">
							<li class="li1">
								<h2>120,500元</h2>
								<p>票面金额</p>
							</li>
							<li class="li2">
								<h2>60,235元</h2>
								<p>剩余可购买金额</p>
							</li>
							<li class="li3">
								<h2><span class="font-red">18</span>天</h2>
								<p>项目期限</p>
							</li>
						</ul>
						<div class="Tl-list-foot">
							<a href="javascript:void(0);" class="TL-list-btn">马上赚钱</a>
						</div>
					</div>
				</div><!-- 票据块//end -->
				<!-- 票据块 -->
				<div class="TL-list-wrap">
					<div class="TL-list-content">
						<div class="Tl-list-head">
							<h3>承兑银行： 招商银行</h3>
							<h2>全金票据宝151024期</h2>
						</div>
						<div class="TL-list-main">
							<i class="arrow-blue"></i>
							<!-- 圆形进度条 -->
							<div class="TL-progress">
								<div class="progress"></div>
								<div class="progress-hover"></div>
							</div><!-- 圆形进度条 //end-->
	
							<h2>10.00<span>%</span></h2>
							<p>年化收益率</p>
						</div>
						<ul class="TL-list-ul">
							<li class="li1">
								<h2>120,500元</h2>
								<p>票面金额</p>
							</li>
							<li class="li2">
								<h2>60,235元</h2>
								<p>剩余可购买金额</p>
							</li>
							<li class="li3">
								<h2><span class="font-red">18</span>天</h2>
								<p>项目期限</p>
							</li>
						</ul>
						<div class="Tl-list-foot">
							<a href="javascript:void(0);" class="TL-list-btn">马上赚钱</a>
						</div>
					</div>
				</div><!-- 票据块//end -->
				<!-- 票据块 -->
				<div class="TL-list-wrap">
					<div class="TL-list-content">
						<div class="Tl-list-head">
							<h3>承兑银行： 招商银行</h3>
							<h2>全金票据宝151024期</h2>
						</div>
						<div class="TL-list-main">
							<i class="arrow-blue"></i>
							<!-- 圆形进度条 -->
							<div class="TL-progress">
								<div class="progress"></div>
								<div class="progress-hover"></div>
							</div><!-- 圆形进度条 //end-->
	
							<h2>10.00<span>%</span></h2>
							<p>年化收益率</p>
						</div>
						<ul class="TL-list-ul">
							<li class="li1">
								<h2>120,500元</h2>
								<p>票面金额</p>
							</li>
							<li class="li2">
								<h2>60,235元</h2>
								<p>剩余可购买金额</p>
							</li>
							<li class="li3">
								<h2><span class="font-red">18</span>天</h2>
								<p>项目期限</p>
							</li>
						</ul>
						<div class="Tl-list-foot">
							<a href="javascript:void(0);" class="TL-list-btn">马上赚钱</a>
						</div>
					</div>
				</div><!-- 票据块//end -->
				<!-- 票据块 -->
				<div class="TL-list-wrap">
					<div class="TL-list-content">
						<div class="Tl-list-head">
							<h3>承兑银行： 招商银行</h3>
							<h2>全金票据宝151024期</h2>
						</div>
						<div class="TL-list-main">
							<i class="arrow-blue"></i>
							<!-- 圆形进度条 -->
							<div class="TL-progress">
								<div class="progress"></div>
								<div class="progress-hover"></div>
							</div><!-- 圆形进度条 //end-->
	
							<h2>10.00<span>%</span></h2>
							<p>年化收益率</p>
						</div>
						<ul class="TL-list-ul">
							<li class="li1">
								<h2>120,500元</h2>
								<p>票面金额</p>
							</li>
							<li class="li2">
								<h2>60,235元</h2>
								<p>剩余可购买金额</p>
							</li>
							<li class="li3">
								<h2><span class="font-red">18</span>天</h2>
								<p>项目期限</p>
							</li>
						</ul>
						<div class="Tl-list-foot">
							<a href="javascript:void(0);" class="TL-list-btn">马上赚钱</a>
						</div>
					</div>
				</div><!-- 票据块//end -->
				<!-- 分页  -->
				<div class="Tl-list-Paging">
						<ul class="">
							<li class="disabled">
								<a href="javascript:void(0);">&lt;&lt;</a>
							</li>
							<li class="disabled">
								<a href="javascript:void(0);">&lt;</a>
							</li>
							<li class="active">
								<a href="javascript:void(0);"> 1 </a>
							</li>
							<li class="disabled">
								<a href="javascript:void(0);">&gt;</a>
							</li>
							<li class="disabled">
								<a href="javascript:void(0);">&gt;&gt;</a>
							</li>
						</ul>
				</div>
				<!-- 分页 //end -->
		</div>
		
	</div><!-- 票据列表//end -->
 <script>
// 	 默认显示  显示第一个，关闭第二个
	 	$('.progress').radialIndicator({
                barColor: '#4f6dc9',
			    percentage: true,
			    radius:70,
                barWidth: 10,
                initValue: 80,
                roundCorner : true,
                percentage: true
            });
//    hover 显示第二个，关闭第一个
         $('.progress-hover').radialIndicator({
                barColor: '#ffffff',
                barBgColor:'#708ce0',
			    percentage: true,
			    radius:70,
                barWidth: 10,
                initValue: 1,
                roundCorner : true,
                percentage: true
            });
	 </script>
</body>
</html>