<html>
<head>
    <title>票据内页</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <link type="image/x-icon" href="../../../static/images/favicon.ico" rel="shortcut icon">
	<link href="../../../static/styles/normalize.css" type="text/css" rel="stylesheet" />
	<link href="../../../static/styles/common.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="../../../static/js/slideList/jquery-1.9.1.min.js"></script>
    <style>
    	
    </style>
</head>
<body>
	<!-- 票据内页  -->
	<div class="ticketListInside">
		<div class="TLInside-banner"></div>
		<!-- 第一块 -->
		<div class="w1200 boxshadow block1">
			<div class="block1-left">
				<h2 class="title">全金票据宝151023期</h2>
				<p class="title-small">承兑银行： 招商银行</p>
				<ul class="clearfix">
					<li>
						<h2><i class="font-red">9.00</i><span>%</span></h2>
						<p>预期年化收益率</p>
					</li>
					<li>
						<h2>45<span>天</span></h2>
						<p>项目期限</p>
					</li>
					<li>
						<h2>100,528<span>元</span></h2>
						<p>票面金额</p>
					</li>
				</ul>
				<div class="block1-left-bottom">
					<p class="icon-clock">发布时间：2015-11-02</p>
					<p class="icon-ticket">还款方式：到期一次性付息还本</p>
					<p class="icon-income">计息方式：当日计息（15：00后投资次日计息）</p>
				</div>
			</div>
			<div class="middle-border"></div>
			<div class="block1-right">
				<div class="block1-right-title"></div>
				<ul class="clearfix">
					<li>
						<h2>账户可用余额</h2>
						<p><span class="font-red">4,060,000</span>元</p>
					</li>
					<li>
						<h2>剩余可购买金额</h2>
						<p>109,083,000元</p>
					</li>
					<li>
						<input type="text" class="income-input"/><input type="submit" class="income-btn" />
					</li>
				</ul>
				<div class="bottom-income"><p>预计收益：<span class="font-red">0.00</span>元</p></div>
			</div>
		</div><!-- 第一块//end -->
		<!-- 第二块-->
		<div class="w1200 boxshadow">
			<!-- 第二块1-->
			<div class="block2">
				<!-- 导航锚点 -->
				<ul class="block2-nav">
					<li>
						<a href="#block2">产品<br />介绍</a>
					</li>
					<li>
						<a href="#block3">安全<br />保障</a>
					</li>
					<li>
						<a href="#block4">常见<br />问题</a>
					</li>
					<li>
						<a href="#block5">投资<br />记录</a>
					</li>
				</ul><!-- 导航锚点//end -->
				<div class="block2-title">
					全金票据宝
				</div>
				<div class="block2-2 pd68">
					<p>全金票据宝是一款互联网理财产品，提供银行票据理财，以融资方银行承兑票据为抵押物，到期后由承兑银行兑付本金和收益，实现固定年化收益在6%-9%，银行担保，100%承兑，是目前安全性最高的短期理财产品。</p>
				</div>
			</div><!-- 第二块1//end -->
			<!-- 第二块2-->
			<div class="block3">
				<a href="#block3" class="a-nav"><span class="rotate360"></span></a>
				<a name="block3" ></a>
				<div class="block-title">安全保障与风控</div>
				
				<div class="block3-1 pd68 clearfix">
					<div class="block3-p">
						为了保证投资人的权益，全金网建立了完善的风险备用金制度。当线上认证借款成交时，全金网会提取一定比例的金额放入"全金网风险备用金账户"。当线上认证借款出现逾期时，全金网将会根据标的的本息保障赔付期等级，在相应时间内使用“全金网风险备用金”向理财人垫付此笔借款的逾期本息。
					</div>
				</div>
				
				<div class="block3-2 pd68 clearfix">
					<div class="block3-p">
						<h3>全金网的所有项目均有多重风控措施把关：</h3>
						1、专业的风控团队把关，包括且不限于多层信用审查、还款能力调查、保障措施审核、实地回访对账，确保所有项目信息真实有效合法。<br />
					2、资金第三方托管，保证专款专用，理财更安全。<br />
					3、担保机构提供本金及收益担保，承诺到期回购。<br />
					4、建立完善的风险保障机制，有效保障资金安全。<br />
					5、专业律师团队保驾护航，提供服务与帮助。
					</div>
				</div>
				
				<div class="block3-3 pd68 clearfix">
					<div class="block3-p"><h3>菲华金丘集团为本项目提供本息担保</h3>
					<h3>集团介绍</h3>
						菲华金丘集团创建于1992年，集团以房地产开发建设为主业同时业务涵盖房地产、建筑、金融、贸易、物业、石油、织造、商务投资多个领域。23年来,规模日益发展壮大。成为福建首屈一指的地产龙头企业。开发足迹遍布山东、湖北、湖南、广东、广西、福建等多个省市，开发过多个高品质楼盘，先后投资额超百亿。与国内知名品牌恒大、万科等开发商保持紧密合作关系，成功合作开发众多核心地产项目。集团秉承“开路先锋 ”的企业精神，始终坚持“敬业, 诚信,创新,共赢”的核心理念，以“绿色•健康”为导向，高标准、严要求，成为跨行业、多元化经营的侨资大型集团。(希望能减少点字）
					</div>
				</div>
				
			</div><!-- 第二块2//end -->
			
			<!-- 第二块3-->
			<div class="block4">
				<a href="#block4" class="a-nav"><span class="rotate360"></span></a>
				<a name="block4" ></a>
				<div class="block-title">常见问题</div>
				<div class="answer pd68">
					<h2>什么是票据理财？</h2>
					<p><i class="arrow"></i>票据理财由银行承兑汇票或商业承兑汇票等安全等级较高的资产做质押或收益权转让，国内知名股份制银行或保险公司对融资信息进行审核及见证，
并委托第三方支付机构进行资金监管及清算服务，保障用户资金安全，到期本息承兑给用户。
</p>
					
					<h2>什么是全金票据？</h2>
					<p><i class="arrow"></i>全金票据是全金网推出的约定收益的定期固定收益理财产品，对经全金网票据合作机构（瑞丰票据）全额本息担保的票据借款进行的自动投资的项目，
起投资金为100元。<br />
全金票据投资标的中涉及的银票均经过银行机构、专业人员多重验证确保真实，并由保理公司对银票操作风险进行保证，再由第三方托管机构进行专项
托管，律师事务 所进行全过程监督见证，从而实现对银票资产的有效监管和银票收益权的有效监控。</p>
					
					<h2>全金票据利息如何计算?</h2>
					<p><i class="arrow"></i>1、买入金额100元起<br />
2、买入当天开始计息并产生收益(含周末及节假日)。当天15点之前买入当日计息，当天15点之后买入次日计息。</p>

					<h2>如何取现?</h2>
					<p><i class="arrow"></i>全金票据到期之后本金连同利息转入个人中心可用余额，这时即可随时发起提现。从可用余额中申请提现至银行卡，具体到账时间不同银行有不同规定，
一般均可在T+1日到账。</p>
					
					<h2>项目还款来源有哪些?</h2>
					<p><i class="arrow"></i>第一还款来源：以票据资产交易者(即融资人)交易所得作(如交易收益，票据贴现等)或自有资金为还款来源;<br />
第二还款来源：以托管在银行的票据资产变现的资金作为还款来源。</p>
					
				</div>
			</div><!-- 第二块3//end -->
			<!-- 第二块4 -->
			<div class="block5 pd68">
				<a href="#block5" class="a-nav"><span class="rotate360"></span></a>
				<a name="block5"></a>
				<div class="block-title">投资记录</div>
				<div class="recordTable">
			        <table>
			            <thead>                                                                          
			              <tr>
			                <td width="33%">投资人</td>
			                <td width="33%">投资金额 </td>
			                <td width="33%">投资时间</td>
			            </thead>
			          <tbody>
			          	<tr>        
			          		<td>136***8035</td>
			          		<td>1,356元 </td>
			          		<td>2015-12-12 12:36</td>
			          	</tr>
			          	<tr>        
			          		<td>136***8035</td>
			          		<td>1,356元 </td>
			          		<td>2015-12-12 12:36</td>
			          	</tr>
			          	<tr>        
			          		<td>136***8035</td>
			          		<td>1,356元 </td>
			          		<td>2015-12-12 12:36</td>
			          	</tr>
			          </tbody>
			        </table>
   				</div>
				<a href="javascript:void(0);" class="block5-more">展开更多</a>
			</div><!-- 第二块4//end -->
		</div>
	</div><!-- 票据内页  //end -->
	
<script>
// $("body").scroll(function(){
	  // $(".block2-nav").css({'position':'fixed'});
	// });
	//滚动固定导航
$(window).scroll(function(){
    $(".block2-nav").css("top",Math.max(0,693-$(this).scrollTop()));
});
 $(function(){
    $(".recordTable tbody tr:even").css({'background-color':'#eeeef2'});
 });
</script>
</body>
</html>